<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>OrganizationApp</display-name>

    <servlet>
        <servlet-name>RestApplication</servlet-name>
        <servlet-class>ru.itmo.RestApplication</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestApplication</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>resteasy.validation.enable</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.disable.validator</param-name>
        <param-value>true</param-value>
    </context-param>

</web-app>
